*{
 padding:0;
 margin:0;
}
body {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-height:100vh;
  background-color:#ffb300;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-family:kalam;
}
#xD{
    position:absolute;
    top:10%;
    left:10%;
}
svg{
    height:90%;
    width:90%;
}        

.page1{
    background-color:#d500f9;
}

.page2 {
 
 display:none;
 background-color:#E0E5EC;
 height:120vh;
 width:100%;
}


.detail{
    position:absolute ;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
}
#nancy{
    background-color:#E0E5EC;
-webkit-box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    width:300px;
    height:auto;
    padding:30px;
    text-align:center;
    font-weight:bolder;
    border-radius:20px;
    font-family:kalam;
}
#nancy1{
    background-color:#E0E5EC;
-webkit-box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    width:300px;
    height:auto;
    padding:30px;
    text-align:center;
    font-weight:bolder;
    border-radius:20px;
    font-family:kalam;
     
}
#nancy2{
    background-color:#E0E5EC;
-webkit-box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    width:300px;
    height:auto;
    padding:30px;
    text-align:center;
    font-weight:bolder;
    border-radius:20px;
    font-family:kalam;
    
    
}


